.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
}

.fale-conosco {
    color: #1d4d96;
    background-color: #f0f4f8;
    border-radius: 20px;
    padding: 5px;
    width: 10%;
    text-align: center;
}

.entre-em-contato {
    text-align: center;
}

.entre-em-contato p {
    color: rgb(78, 77, 77);
}

.formulario {
    background-color: white;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    width: 52%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.formulario h2 {
    color: #1d4d96;
}

.formulario p {
    font-size: small;
    color: rgb(78, 77, 77);
}

#nome {
    padding: 3%;
    border-radius: 6px;
    border: none;
    width: 100%;
    height: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: silver;
}

#email {
    padding: 3%;
    border-radius: 6px;
    border: none;
    width: 100%;
    height: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: silver;
}

#mensagem {
    resize: none;
    padding: 3%;
    border-radius: 6px;
    border: none;
    width: 100%;
    height: 500px;
    border-width: 1px;
    border-style: solid;
    border-color: silver;
}

.contato button {
    font-weight: bold;
    width: 100%;
    height: 250px;
    text-align: center;
    color: white;
    background-color: #1d4d96;
    border-radius: 10px;
    border: none;
}

.contato button:hover {
    background-color: #163c73;
    transition: background-color 0.3s ease;
}

.contatos {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 80%;
    text-align: center;
}

.box-email {
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    width: 30%;
    display: flex;
    flex-direction: column;

    p {
        color: #1d4d96;
    }
}

.box-redessociais {
    justify-content: center;
    background-color: white;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    width: 30%;
    display: flex;
    flex-direction: column;

    p {
        color: rgb(110, 105, 105);
    }
}